body {
    overflow-x: hidden;
}

.bodyalt{
    padding-top: 40px;
    padding-left: 40px;
   
}

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

span {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    color:  #912DB9;
}

.intro div {
 
    font-size: 1.2rem;
    font-family: "Istok Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* font-weight: <; */
}

.intro h1 {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    margin: 10px 0;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Oxanium", sans-serif;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 5px;
}

.secondary div, .primary div{
    font-size: 1.1rem;
}

.tertiary div {
    font-weight: 500;
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.btns {
    margin: 30px 0;

}

.btn {
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-right: 20px;

}

.btn1 {
    border: 1.5px solid #912DB9;
    color: #912DB9;
  background-color: #1D1821;
  font-weight: 600;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
   font-size: 1.3rem;
   cursor: pointer;
  transition:  0.2s ease-in;

}

.btn2 {
  background-color:  #912DB9;
  font-weight: 600;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  color: white;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition:  0.2s ease-in-out;
}

.btn1:hover{
color: white;
border: white 1.5px solid;
}

.btn2:hover {
  color: #1D1821;
background-color: white;


}

.img {
    position: absolute;
    z-index: -2;
    top: -40px;
    right: -72px;
    height: 300px;
    transform: rotate(-20deg);
    

}