body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #1D1821;
  color: #F8EDF3;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  /* flex-direction: column; */
 /* padding-bottom: 20px; */
}

h1, p {
  /* text-align: center; */
  margin: 0;
  padding: 0;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 376px;
  height: 155px;
  background-color: white;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }

  .card {
    width: 90%;
  }
}
